{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2 class="join-message">Edit Your Post.</h2>
        <form method="POST" id="user_form">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden'%}

            Edit {{field.label}}
            {{ field(class="form-control") }}
        {% endfor %}
        <hr>


        <div class="edit-btn-area">
            <button class="btn btn-success">Edit Post</button>
            <a href="/users/{{user.id}}" class="btn btn-outline-secondary">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}